<web-app>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>servletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletSaldo</servlet-name>
        <servlet-class>servletSaldo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletSaldo</servlet-name>
        <url-pattern>/servletSaldo</url-pattern>
    </servlet-mapping>
</web-app>
